{% extends 'base.html' %}
{% block site_title %}
新規投稿
{% endblock site_title %}

{% block content %}
<section class="w-full md:w-2/3 lg:w-1/2 mx-auto">
    <div class="p-4">
      <div class="container px-6 py-10 mx-auto">
          <div class="flex items-center justify-between">
              <p class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">新規投稿</p>
          </div>
    
          <hr class="my-8 border-red-800 ">
          {% if user.is_authenticated %}
          <!-- Form -->
          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
            <div class="grid gap-y-4">
              <!-- Form Group -->
              <div>
                <label for="title" class="block text-sm mb-2 text-black-500">タイトル</label>
                <div class="relative">
                  <input type="text" id="title" name="title" class="w-full bg-black-100 bg-opacity-50 rounded border border-black-300 focus:border-amber-500 focus:bg-black-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
              </div>
              <!-- End Form Group -->
    
              <!-- Form Group -->
              <div>
                <div class="flex justify-between items-center">
                  <label for="post_user" class="block text-sm mb-2 text-black-500">ユーザーネーム</label>
                </div>
                <div class="relative">
                  <input type="text" id="post_user" name="post_user" value="{{ user.username }}" disabled class="w-full bg-black-100 bg-opacity-50 rounded border border-black-300 focus:border-amber-500 focus:bg-black-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  <input type="hidden" id="post_user" name="post_user" value="{{ user.username }}" class="w-full bg-black-100 bg-opacity-50 rounded border border-black-300 focus:border-amber-500 focus:bg-black-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
              </div>
              <!-- End Form Group -->
    
              <!-- Form Group -->
              <div>
                <div class="flex justify-between items-center">
                  <label for="content" class="block text-sm mb-2 text-black-500">今回の投稿の内容</label>
                </div>
                <div class="relative">
                  <textarea id="content" name="content" class="w-full h-60 bg-black-100 bg-opacity-50 rounded border border-black-300 focus:border-amber-500 focus:bg-black-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"></textarea>
                </div>
              </div>
              <!-- End Form Group -->
    
              <!-- Form Group -->
              <div>
                <div class="flex justify-between items-center">
                  <label for="thumbnail" class="block text-sm mb-2 text-black-500">画像</label>
                </div>
                <div class="relative">
                  <input type="file" id="thumbnail" name="thumbnail">
                </div>
              </div>
              <!-- End Form Group -->
    
              <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-amber-700 text-white hover:bg-amber-600 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">投稿</button>
            </div>
          </form>
          {% else %}
          <div class="">
            <p class="text-red-800 text-3xl font-bold pb-4">ログインしてください</p>
            <a href="{% url 'login' %}" class="py-2 px-4 inline justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-amber-700 text-white hover:bg-amber-600 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">ログインする</a>
          </div>
          {% endif %}
      </div>
    </div>
</section>
{% endblock content %}