{% extends 'base.html' %}
{% block site_title %}
投稿一覧
{% endblock site_title %}

{% block content %}
<section class="w-full lg:w-100 max-w-100 mx-auto">
  <div class="container px-6 py-10 mx-auto">
      <div class="flex items-center justify-between">
          <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">みんなの投稿</h1>

          <button class="focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600 transition-colors duration-300 transform dark:text-gray-400 hover:text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
          </button>
      </div>

      <hr class="my-8 border-red-800 ">

      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">
        <!-- 投稿 -->
        {% for object in object_list %}
          <div>
              <img class="w-full rounded-lg" src="{{ object.thumbnail.url }}" alt="">

              <div class="mt-8">

                  <h2 class="mt-4 text-xl font-semibold text-gray-800 dark:text-white">
                      {{ object.title }}
                  </h2>

                  <div class="flex items-center justify-between my-4">
                      <div>
                          <a href="#" class="text-lg font-medium text-gray-700 dark:text-gray-300 hover:underline hover:text-gray-500">
                              投稿者:{{ object.post_user }}
                          </a>

                          <p class="text-sm text-gray-500 dark:text-gray-400">February 1, 2022</p>
                      </div>

                      <a href="{% url 'detail' object.pk %}" class="inline-block text-red-800 underline hover:text-red-700">Read more</a>
                  </div>
                  <div class="text-left">
                    <a href="{% url 'good' object.pk %}" class="text-white bg-amber-700 border-0 py-2 px-8 focus:outline-none hover:bg-amber-600 rounded text-lg">👍{{ object.good }}</a>
                    <a href="{% url 'read' object.pk %}" class="text-white bg-amber-500 border-0 py-2 px-8 focus:outline-none hover:bg-amber-400 rounded text-lg">👀{{ object.read }}</a>
                  </div>

              </div>
          </div>
        {% endfor %}
      </div>
  </div>
</section>
{% endblock content %}