{% extends 'base.html' %}
{% block site_title %}
新規登録
{% endblock site_title %}

{% block content %}
<section class="w-full md:w-2/3 lg:w-1/2 mx-auto">
    <div class="p-4">
        <div class="mt-7 bg-amber-500 border border-red-800 rounded-xl shadow-sm dark:bg-neutral-900 dark:border-neutral-700">
            <div class="p-4 sm:p-7">
              <div class="text-center">
                <h1 class="block text-2xl font-bold text-white dark:text-white">新規登録</h1>
                <p class="mt-2 text-sm text-white dark:text-neutral-400">
                  アカウントをお持ちですか？
                  <a class="text-amber-700 decoration-2 hover:underline focus:outline-none focus:underline font-medium dark:text-blue-500" href="../examples/html/signup.html">
                    こちらからログイン
                  </a>
                </p>
                <!-- データの重複があった時に表示 -->
                <p class="text-red-900 font-bold py-2">{{ error }}</p>
              </div>
          
              <div class="mt-5">
          
                <!-- Form -->
                <form method="POST">
                    {% csrf_token %}
                  <div class="grid gap-y-4">
                    <!-- Form Group -->
                    <div>
                      <label for="username" class="block text-sm mb-2 text-white">ユーザーネーム</label>
                      <div class="relative">
                        <input type="text" id="username" name="username" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                      </div>
                      <p class="hidden text-xs text-red-600 mt-2" id="email-error">Please include a valid email address so we can get back to you</p>
                    </div>
                    <!-- End Form Group -->

                    <!-- Form Group -->
                    <div>
                      <label for="email" class="block text-sm mb-2 text-white">メールアドレス</label>
                      <div class="relative">
                        <input type="email" id="email" name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                      </div>
                      <p class="hidden text-xs text-red-600 mt-2" id="email-error">Please include a valid email address so we can get back to you</p>
                    </div>
                    <!-- End Form Group -->
          
                    <!-- Form Group -->
                    <div>
                      <div class="flex justify-between items-center">
                        <label for="password" class="block text-sm mb-2 text-white">パスワード</label>
                      </div>
                      <div class="relative">
                        <input type="password" id="password" name="password" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                      </div>
                      <p class="hidden text-xs text-red-600 mt-2" id="password-error">8+ characters required</p>
                    </div>
                    <!-- End Form Group -->
          
                    <button type="submit" class="w-full mt-6 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-amber-700 text-white hover:bg-amber-600 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">新規登録</button>
                  </div>
                </form>
                <!-- End Form -->
              </div>
            </div>
          </div>
    </div>
</section>
{% endblock content %}